{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/webapp/css/cart.css' %}">
{% endblock %}
<script>
        document.addEventListener('DOMContentLoaded', function() {
            let q = document.querySelector('#quantity').innerHTML;
            let p = document.querySelector('#price').innerHTML;
            console.log('q: ', q);
            console.log('p: ', p);
            let cd_total = parseFloat(q)*parseFloat(p);
            document.querySelector('#cd_total').innerHTML=cd_total.toString();
            console.log('cd_total_js: ', cd_total);
        });
</script>
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" style="background-color: #e79686;">
            <div class="d-flex flex-grow-0 flex-column">
                <div class="text-center mt-5 text-white"><h2>Review Order</h2></div>
            </div>
        </div>
        <!--主体内容-->
        <div class="col-lg-8" style="background-color: #a39391;">
            {% for cd in latest_cart_list %}
                <div class="row-fluid gx-5 mt-3 mb-3">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="/media/{{ cd.product_id.image }}" class="rounded-circle"
                                 alt="{{ cd.product_id.name }}">
                        </li>
                        <li class="list-inline-item">{{ cd.product_id.name }}</li>
                        <li class="list-inline-item" id="price">{{ cd.product_id.price }}</li>
                        <li class="list-inline-item" id="quantity">{{ cd.quantity }}</li>
                        <li class="list-inline-item" id="cd_total">{% widthratio cd.product_id.price 1 cd.quantity %}¥</li>

                    </ul>
                    <hr/>
            {% endfor %}
            <div class="text-right"><h2>Total: {{ total }}¥</h2></div>
            <hr/></div>
        </div>
    <div class="row">

    </div>
    </div>
    </div>
{% endblock %}
