{% extends 'base.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Overcloud</title>
        <script src="{% static 'js/index.js' %}" ></script>
    </head>
    <body>
        <h1 style="color: blue; text-align: center;">Overcloud</h1>
        {% if latest_product_list %}
        <ul>
        {% for product in latest_product_list %}
            <li><a href="{% url 'webapp:detail' product.id %}">{{ product.name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No products are available.</p>
        {% endif %}
    </body>
<html>