{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/icon-dark.png' %}"/>

    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ecd6c7">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="/webapp">
            <img src="{% static 'img/icon-dark.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
            Overcloud
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/webapp/menu">Menu</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        {% if request.session.is_login %}
            <ul class="navbar-nav">
                <li class="nav-item active"> <!-- 如果登陆状态为真，则显示用户名 -->
                    <a class="nav-link" href="/login">{{ request.session.user_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/logout/">Sign out</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login/login/">Sign in</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>